{% extends 'base.html.twig' %}

{% block title %}Kanban - Vos Tâches {% endblock %}



{% block body %}
    <div class="container mt-4">
        <h1 class="text-center">Tableau Kanban</h1>

        <div class="row">
            {% set statuses = { 'pending': 'À faire', 'in-progress': 'En cours', 'completed': 'Terminée' } %}
            {% for status, label in statuses %}
                <div class="col-md-4">
                    <div class="card shadow-sm">
                        <div class="card-header text-center bg-primary text-white">
                            <h5 class="mb-0">{{ label }}</h5>
                        </div>
                        <div class="card-body" style="min-height: 300px;" id="{{ status }}">
                            {% for task in tasks %}
                                {% if task.status == status %}
                                    <div class="card mb-2" id="{{ task.id }}" onclick="changeTaskStatus({{ task.id }})">
                                        <div class="card-body">
                                            <h6 class="card-title">{{ task.title }}</h6>
                                            <p class="card-text text-muted small">{{ task.description }}</p>
                                            <p class="small"><strong>Créé le
                                                    :</strong> {{ task.createdAt|date('d/m/Y') }}</p>
                                            <span class="badge bg-info text-dark">{{ label }}</span>
                                            <a href="{{ path('app_task_edit', {id: task.id}) }}">
                                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                                     fill="currentColor" class="bi bi-pen-fill" viewBox="0 0 16 16">
                                                    <path d="m13.498.795.149-.149a1.207 1.207 0 1 1 1.707 1.708l-.149.148a1.5 1.5 0 0 1-.059 2.059L4.854 14.854a.5.5 0 0 1-.233.131l-4 1a.5.5 0 0 1-.606-.606l1-4a.5.5 0 0 1 .131-.232l9.642-9.642a.5.5 0 0 0-.642.056L6.854 4.854a.5.5 0 1 1-.708-.708L9.44.854A1.5 1.5 0 0 1 11.5.796a1.5 1.5 0 0 1 1.998-.001"/>
                                                </svg>
                                            </a>
                                            <a class="text-danger" href="{{ path('app_task_delete', {id: task.id}) }}">
                                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                                     fill="currentColor" class="bi bi-trash3-fill" viewBox="0 0 16 16">
                                                    <path d="M11 1.5v1h3.5a.5.5 0 0 1 0 1h-.538l-.853 10.66A2 2 0 0 1 11.115 16h-6.23a2 2 0 0 1-1.994-1.84L2.038 3.5H1.5a.5.5 0 0 1 0-1H5v-1A1.5 1.5 0 0 1 6.5 0h3A1.5 1.5 0 0 1 11 1.5m-5 0v1h4v-1a.5.5 0 0 0-.5-.5h-3a.5.5 0 0 0-.5.5M4.5 5.029l.5 8.5a.5.5 0 1 0 .998-.06l-.5-8.5a.5.5 0 1 0-.998.06m6.53-.528a.5.5 0 0 0-.528.47l-.5 8.5a.5.5 0 0 0 .998.058l.5-8.5a.5.5 0 0 0-.47-.528M8 4.5a.5.5 0 0 0-.5.5v8.5a.5.5 0 0 0 1 0V5a.5.5 0 0 0-.5-.5"/>
                                                </svg>
                                            </a>
                                        </div>
                                    </div>
                                {% endif %}
                            {% else %}
                                <p class="text-muted text-center">Aucune tâche ici.</p>
                            {% endfor %}
                        </div>

                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
    <script src="{{ asset('js/task-action.js') }}"></script>

{% endblock %}


